/* Navbar.module.css */

/* Global Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  background-color: #046bfb;
  padding: 1rem 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbarBrand {
  color: white;
  font-size: 1.5rem; /* Öka lite för att ge det en mer distinkt känsla */
  font-weight: bold;
  cursor: pointer;
}

.navLinks {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navLinks li {
  list-style: none;
  font-size: 1rem; /* Justerat för att vara något större */
  cursor: pointer;
  transition: color 0.3s ease;
}

.navLinks li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navLinks li a:hover {
  color: #ffcc00; /* Gul hover-färg */
  background-color: rgba(255, 255, 255, 0.1); /* Lätt bakgrundsfärg på hover */
  border-radius: 5px; /* Liten rundning för ett mer polerat utseende */
}

.icons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.icons a {
  color: white;
  font-size: 1.25rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.icons a:hover {
  color: #ffcc00; /* Samma hover-färg som för länkarna */
  transform: scale(1.2); /* Liten zoom-effekt på hover */
}

/* Mobile Menu */
.mobileNav {
  position: fixed;
  inset: 0;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobileNav span {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
  margin-bottom: 2rem;
}

.mobileNavClose {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  color: white;
  cursor: pointer;
  font-size: 24px;
}
